page-agregar-opciones {
    small {
        line-height: 0px !important;
    }
    img {
        width: 80px !important;
        height: auto;
        margin-bottom: 15px;
    }
    ion-textarea {
        border: 1px solid #D5DBDB !important;
    }
}