<ion-list>
    <ion-item-group>
      <ion-item-divider color="light">
          <label>Usuarios en línea</label>
          <ion-icon ios="ios-radio-button-on" md="md-radio-button-on" style="color:green;"></ion-icon>
      </ion-item-divider>
      <ion-item *ngFor="let usuario of listaUsuariosOnline">
        <ion-thumbnail item-start>
          <img src="{{usuario.foto}}">
        </ion-thumbnail>
        <h2>{{usuario.nombre}}</h2>
        <p>{{usuario.estadoConexion}}</p>
        <button ion-button clear item-end (click)="crearInvitacionMapa(usuario.correo, 1, nombreUsuarioSession)">Invitar</button>
    </ion-item>
    </ion-item-group>
  </ion-list>