page-redes-sociales {
  @font-face {
    font-family: 'satisfy';
    src: url('../../../assets/fonts/Satisfy/Satisfy-Regular.ttf') format('truetype');
  }
  h2 {
    font-family: 'satisfy' !important;
   
  }
#titulo{
    width:100%;
    position: absolute;
    top:60px;
    color:white !important;
    z-index: 999;
}

 .fondo {
    background-image: url('../../../assets/img/fondo-login.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    width:100vw;
    height: 100vh;
    z-index: 999;
  }

 .fondo::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    opacity: 1;
    transition: all 1s;
    -webkit-transition: all 1s;
  }


  #botones {
    position: absolute !important;
    bottom: 80px;
    width: 100%;
    z-index: 999;
  }
  #botones h3 {
    color: white;
  }
}
