page-inicio {
    ion-content {
        background-color: #fafafa !important;
    }
    .segment-md .segment-button {
        color: #222;
        font-weight: bold;
    }
    .segment-md .segment-button.activated,
    .segment-md .segment-button.segment-activated {
        border-color: #FF9800;
    }
}