<ion-header>
  <ion-navbar color="moto">
    <ion-title>Nueva Moto</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-content class="foto-moto" [style.backgroundImage]="'url('+previewMoto +')'">
      <div class="text">
        <button ion-button color="white" clear class="all-screen" (click)="presentActionSheet()">Subir foto/ Tomar foto </button>
      </div>
    </ion-card-content>
  </ion-card>
  <div padding>
    <form [formGroup]="formulario">
      <ion-list>
        <ion-item>
          <ion-label stacked>Nombre de tu moto</ion-label>
          <ion-input formControlName="nombreMoto" type="text"></ion-input>
        </ion-item>
        <ion-item *ngIf="formulario.get('nombreMoto').errors && formulario.get('nombreMoto').dirty">
          <p color="danger" ion-text *ngIf="formulario.get('nombreMoto').hasError('required')">Ingresa un nombre para tu moto</p>
        </ion-item>
        <ion-item>
          <ion-label stacked>Marca</ion-label>
          <ion-input formControlName="marca" type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label stacked>Referencia</ion-label>
          <ion-input formControlName="modelo" type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label stacked>Placas</ion-label>
          <ion-input formControlName="placas" type="text"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label stacked>Kilometraje</ion-label>
          <ion-input formControlName="kilometraje" type="number"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label stacked>SOAT</ion-label>
          <ion-datetime formControlName="soat" displayFormat="MM/DD/YYYY" [min]="yearMin" [max]="yearMaxS"></ion-datetime>
        </ion-item>

        <ion-item>
          <ion-label stacked>Tecno mecánica</ion-label>
          <ion-datetime formControlName="TecnoMacanica" displayFormat="MM/DD/YYYY" [min]="yearMin" [max]="yearMaxT"></ion-datetime>
        </ion-item>

        <ion-item>
          <ion-label stacked>Ultimo Mantenimiento</ion-label>
          <ion-datetime formControlName="mantenimiento" displayFormat="MM/DD/YYYY" [min]="yearMin" [max]="yearMaxT"></ion-datetime>
        </ion-item>
        <ion-item>
          <ion-label stacked>Ultimo Cambio de Aceite (KM)</ion-label>
          <ion-input formControlName="cambioAceite" type="number"></ion-input>
        </ion-item>
      </ion-list>
    </form>
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <button ion-button full color="moto" [disabled]="formulario.invalid" (click)="CrearMoto()">Agregar</button>
  </ion-toolbar>
</ion-footer>
